@charset "utf-8";
body{font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; font-size: 20px; letter-spacing: 1.5px;}

a:link{text-decoration: none; cursor: pointer;}
a:hover {color: hotpink;}

#legend{width: 75%; height: auto; margin: 0 auto; border-radius: 15px; border: solid;}

.fieldset{width: 95%; margin: 0 auto; border-radius: 15px; border: groove;}

legend{font-size: 15px; font-weight: bold; letter-spacing: 1.5px;}
input[type=text]{
    width: 80%;
	height: 50px;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
	border-radius: 15px;
    color: black;
	margin: 0 auto;
}	

input[type='file'] {
    background-color: dimgray;
	font-size: 20px;
	letter-spacing: 2px;
    border: none;
	padding: 15px 15px 15px 15px;
	width: 98%;
	border-radius: 12.5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
input[type=button], input[type=submit] {
    background-color: #0055CC;
	font-family: "Helvetica";
	font-weight: bolder;
	font-size: 20px;
	letter-spacing: 2px;
    border: none;
	width: 95%;
	height: 50px;
	border-radius: 12.5px;
    color: white;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    cursor: pointer;
	margin: 0 auto;
}

input[type=checkbox]{display: inline; width: 25px; height:25px; margin:10px 10px 10px 10px; }

nav{ background-color: #34a1da; border-radius: 15px; width: auto;}
.wrapper{ width: 100%; margin: 0 auto; text-align: center; }
nav ul{ list-style-type: none; padding: 0; margin: 0; }
nav ul li{ display: inline-block; width: 170px; }
nav ul li span{ margin: 0 0 0 7px; }
nav ul li a,visited{ display: block; padding: 15px; color: #FFF; text-decoration: none;
    transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
}
nav ul li a:hover{ color: #293134; }

.dropdown-active{ background-color: #34a1da; }
.dropdown-active a,visited{ color: #FFF; }
nav ul ul{ position: absolute; background-color: #34a1da; }
nav ul ul li{ display: block; }

footer{ background-image: url("https://loading.io/spinners/dna/lg.dna-spin-spiral-preloader.gif"); background-repeat: repeat-x;}
